#------------------------------------ Python 3.10 ------------------------------------

sudo apt update
sudo apt install software-properties-common -y
sudo add-apt-repository ppa:deadsnakes/ppa -y
sudo apt update
sudo apt install python3.10 -y
# ตรวจสอบการติดตั้งและ pip
python3.10 --version
python3.10 -m ensurepip --upgrade # ติดตั้ง pip ถ้ายังไม่มี [1, 3]


#------------------------------------ Python 3.10 (.venv) ------------------------------------
sudo apt update && sudo apt install -y python3.10-venv
rm -rf .venv && python3.10 -m venv .venv && source .venv/bin/activate && pip install --upgrade pip 


#------------------------------------ Pytorch For GTX(1070,1080,ETC.) ------------------------------------
# ติดตั้งตัวหลัก (PyTorch + CUDA 11.8)
pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118 --no-cache-dir

# ติดตั้งเครื่องมือเสริมสำหรับการทำ Data Science และแสดงผล
pip install numpy matplotlib seaborn scikit-learn pillow pandas tqdm psutil flask flask-cors --no-cache-dir


#------------------------------------ Pytorch For RTX(2060,3060 or Newer)  ------------------------------------
# ติดตั้งตัวหลัก (PyTorch + CUDA 11.8)
pip install torch torchvision torchaudio  --no-cache-dir

# ติดตั้งเครื่องมือเสริมสำหรับการทำ Data Science และแสดงผล
pip install numpy matplotlib seaborn scikit-learn pillow pandas tqdm psutil flask flask-cors --no-cache-dir
